
body {
  background-image: url("images/color-morph.svg");
  background-position: center;
  /* background-origin: content-box; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Noto Sans', sans-serif;
}


 /* ||||| LOGIN BUTTON ||||||| */
  
    /* CSS */
.btn-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
      
    
}


/* |||||||| LOGIN FORM STYLING |||||||| */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

form{
  margin:auto;
  width:30%;
}
.text-center {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  /* margin: -50px 0 80px 0; */
  display: block;
  text-align: center;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.376);
  border-radius: 8px;
  padding: 70px 30px;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}

.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}

.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.btn {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.input-container input:focus~label,
.input-container input:valid~label {
  top: -12px;
  font-size: 12px;
}

label {
  font-family: 'Noto Sans';
  font-size:2rem;
}

/* |||||||||||||||||||| LOGIN BUTTON CONTAINER ||||||||||||||||| */

.btn-container{
  text-align:center;
}

.btn-container > p {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 1.1rem;
}


/* |||||||||||||||||||||| TASK STYLE ||||||||||| */

/* 
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(135deg, #034686 0%, #034686 50%, #034382 50%, #034382 100%);
  color: #ccc;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  user-select: none;
}

#root {
  margin-top: 5rem;
  display: flex;
  color: #ddd;
  background-color: #3C424A;
  box-shadow: 0px 5px 17px -1px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
  min-width: 420px;
  min-height: 400px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#root>.header {
  display: flex;
  margin: 5rem auto;
  min-width: 200px;
  font-size: 2.2rem;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}

#root>.header i {
  color: #666;
  font-size: 1.6rem;
  transform: scaleY(1.4) scaleX(1.2);
  cursor: pointer;
}

#root>.header i:hover {
  color: #999;
}

#root>.header i.disabled {
  color: #666;
  cursor: auto;
  opacity: 0.4;
}

#root>.header .date {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #888;
}

#root>.addTask {
  position: relative;
  margin: 0 4rem;
  width: 80%;
  color: #666;
}

#root>.addTask input {
  padding: 0 4rem;
  width: 100%;
  font-family: "Roboto";
  font-size: 1.5rem;
  line-height: 3.4rem;
  border-radius: 4px;
  color: #888;
  background-color: #343A40;
  border: 2px solid #2F3339;
}

#root>.addTask input:focus {
  outline: none;
}

#root>.addTask input:hover {
  background-color: #393F45;
}

#root>.addTask i {
  position: absolute;
  margin-left: 1.3rem;
  line-height: 3.4rem;
  transform: translateY(0.2rem)
}

#root>.taskList {
  width: 80%;
  margin-top: 1.6rem;
  text-align: left;
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

#root>.taskList li {
  position: relative;
  margin-bottom: 1.4rem;
  padding-left: 3rem;
}

#root>.taskList li input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 4px;
  background-color: #484F59;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

#root>.taskList .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  color: #888;
  background-color: #484F59;
  border: 2px solid #2F3339;
  border-radius: 2px;
  cursor: pointer;
}

#root>.taskList input:hover~.checkmark {
  background-color: #636A74;
}

#root>.taskList .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#root>.taskList input:checked~.checkmark:after {
  display: block;
}

#root>.taskList .checkmark:after {
  left: 5px;
  top: 0;
  width: 5px;
  height: 9px;
  border: solid #ddd;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(1);
}

@keyframes checkmarkZoom {
  0% {
    transform: rotate(45deg) scale(0.5)
  }

  50% {
    transform: rotate(45deg) scale(2)
  }

  100% {
    transform: rotate(45deg) scale(1)
  }
}

#root>.taskList .animate.checkmark:after {
  animation: checkmarkZoom .5s;
}

#root>.taskList li .delete-task {
  color: #636A74;
  margin-left: 2.2rem;
  transform: scale(1.2) translateY(.1rem);
  cursor: pointer;
  opacity: 0;
}

#root>.taskList li .delete-task:hover {
  color: #a31818;
}

#root>.taskList li:hover .delete-task {
  opacity: 1;
  margin-left: 1.2rem;
  transition: .2s;
}

/* ||||||||||||||||||||||||    TO-DO APP STYLES            |||||||||||||||||||||||||| */
 
